/* add all your styles inside, 
then import the stylesheet and rference the styles
within your JSX via className of id attributes */
/* .promp-banner span {

} */
.topbar {
  display: flex;
  margin: 0 auto;
}
.boximage {
  margin-left: 73%;
}
.freeShipping {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: red;
  font-family: UniqloProBold,"Helvetica Neue",Helvetica, Arial,sans-serif;
  margin-left: 85%;
  font-weight: 900;
  margin-top: -23px;
  white-space: nowrap;
}
.promobar {
  display: flex;
  flex:row;
  justify-content: space-evenly;
}
.baroption {
  display: flex;
  justify-content: space-evenly;
  color: black;
  float: right; 
  width: 40%;
  text-decoration: none;
  overflow: hidden;
  font-size: 13px;
  text-transform: uppercase;
  border: none;
  text-decoration:none;
  padding-left: 30%;
  margin-top: 5px;
  white-space: nowrap;
  font-family: "Helvetica Neue",Helvetica, Arial,sans-serif;
  font-weight: 900;
}
.line {
  width: 100%;
  border-bottom:  1px solid #d4d2d2;
  top: 40px;
  position: absolute;

}
.verticalLine {
  content: '';
  width: 0;
  height: 4%;
  position: absolute;
  border:  1px solid #d4d2d2;
  top: 0;
  margin-left: 79.6%;
}

.login {
  display: flex;
  color: gray;
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica, Arial,sans-serif;
  letter-spacing: .3px;
  margin-right: 12%;
  margin-top:6px;
  font-weight:bold;
  white-space: nowrap;
}
.a{
  text-decoration:none;
  color: inherit; 
}
.a:hover{
  color:red;
}