.container { 
  display: flex;
  flex-direction: row;
}

.logoLink {
  flex-grow:3;
  margin-top: 100%;
  float: left;
  margin: 25px 50px 75px 140px;

}
.tags {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  margin-top: 43px;
  color: black;
  width: 30%;
  font-size: 14px;
  letter-spacing: .21px;
  text-transform: uppercase;
  border: none;
  text-decoration:none;
  padding-left: 3px;
  font-family: "Helvetica Neue",Helvetica, Arial,sans-serif;

}
.choices {
  display: flex;
  justify-content: space-around;
}
.searchbar {
  display: flex;
  justify-content: space-between;
  margin: 9%;
  flex-grow:2;

  color: #bebebe!important;
  background-color: #FFF;
  font-family: UniqloProBold,"Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 50px;
  width: 23%;
  margin-top: 30px;
  border: 3px solid #bebebe!important;
  box-sizing: border-box;
  position: absolute;
  padding-left: 10px;
  padding-right: 30px;
}
.searchtext {
  margin-top: 10px;
}
.searchmarker {
  margin-top: 10px;
  width: 8%;

}
.sale {
  color:red;
}
.a {
  text-decoration:none;
  color: inherit; 
}
.a:hover {
  color:red;
}
.shippingbag {
  margin-left: 33.3%;
  margin-top: 1.5%
}
.a1 {
  text-decoration:none;
  color: inherit; 
}

.box {
  display: none;
}

.box:after {
  content: " ";
  position: absolute;
  right: 20px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #cecece;
  /* display: block; */
}

.shippingbag:hover .box {
  width: 170px;
  height: 20px;
  border: 3px solid #cecece;
  background-color: white;
  color: black;
  padding: 10px;
  font-family: UniqloProBold,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  margin-left: -130px;
  margin-top: 10px;
  display: block;  
} 
