.container { 
  display: flex;
  flex-direction: row;
}

.logoLink {
  flex-grow:3;
  margin-top: 100%;
  float: left;
  margin: 25px 50px 75px 140px;

}
.tags {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 1%;
  margin-top: 50px;
  color: black;
  width: 30%;
  font-size: 14px;
  /* height: 100px; */
  letter-spacing: .21px;
  /* text-transform: uppercase; */
  border: none;
  text-decoration:none;
  padding-left: 3px;
  font-family: "Helvetica Neue",Helvetica, Arial,sans-serif;

}
.choices {
  display: flex;
  justify-content: space-between;
}

/* .searchbar {
  display: flex;
  justify-content: space-between;
  margin: 9%;
  flex-grow:2;
  color: #bebebe!important;
  background-color: #FFF;
  font-family: UniqloProBold,"Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 50px;
  width: 23%;
  margin-top: 30px;
  border: 3px solid #bebebe!important;
  box-sizing: border-box;
  position: absolute;
  padding-left: 10px;
  padding-right: 30px;
}
.searchtext {
  margin-top: 10px;
}
.searchmarker {
  margin-top: 10px;
  width: 8%;

} */
.searchbar {
  display: flex;
  justify-content: space-between;
  color: #bebebe!important;
  background-color: #FFF;
  font-family: UniqloProBold,"Helvetica Neue",Helvetica,Arial,sans-serif;
  height: 50px;
  width: 23%;
  margin-top: 30px;
  margin-left: 100px;
  border: 3px solid #bebebe!important;
  box-sizing: border-box;
  position: absolute;
  padding-left: 10px;
  padding-right: 30px;
  overflow: hidden;
  outline:0;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  font-size: 16px;
  font-weight: bold;
  outline:0;

}
.searchmarker {
  margin-top: 10px;
  width: 8%;
}
.searchbar .searchBox.middle:focus {
    outline: 0;
}
.searchBox::-webkit-search-cancel-button{
    position:relative;
    right:-30px;    
}
.sale {
  color:red;
}
.a {
  text-decoration:none;
  color: inherit;
  text-align: center;
}
.a:hover {
  color:red;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .choices {
  padding: 0px 5px;
  margin: 0;
}
.dropdown:hover .choices {
  color:red;
}

.womenselection {
  display:none;
  position: absolute;
  background-color:white;
  margin-top: 35px;
  margin-left: 0%;
  z-index: 1;
}

.womenselection a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.womenselection a:hover {
  color: red;
}
.dropdown:hover .womenselection {
  display: block;
  border: 1px solid #cecece;
  width: 78.5%;
  height: 50%;
  margin-left: -190px;;
  column-count: 4;
}

.menselection {
  display:none;
  position: absolute;
  background-color:white;
  margin-top: 35px;
  margin-left: 20px;
  z-index: 1;
}

.menselection a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menselection a:hover {
  color: red;
}
.dropdown:hover .menselection {
  display: block;
  border: 1px solid #cecece;
  width: 78.5%;
  height: 50%;
  margin-left: -280px;;
  column-count: 4;
}

.girlselection {
  display:none;
  position: absolute;
  background-color:white;
  margin-top: 35px;
  margin-left: 20px;
  z-index: 1;
}

.girlselection a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.girlselection a:hover {
  color: red;
}
.dropdown:hover .girlselection {
  display: block;
  border: 1px solid #cecece;
  width: 78.5%;
  height: 50%;
  margin-left: -350px;;
  column-count: 4;
}

.boyselection {
  display:none;
  position: absolute;
  background-color:white;
  margin-top: 35px;
  margin-left: 20px;
  z-index: 1;
}

.boyselection a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.boyselection a:hover {
  color: red;
}
.dropdown:hover .boyselection {
  display: block;
  border: 1px solid #cecece;
  width: 78.5%;
  height: 50%;
  margin-left: -426px;;
  column-count: 4;
}

.babyselection {
  display:none;
  position: absolute;
  background-color:white;
  margin-top: 35px;
  margin-left: 20px;
  z-index: 1;
}

.babyselection a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.babyselection a:hover {
  color: red;
}
.dropdown:hover .babyselection {
  display: block;
  border: 1px solid #cecece;
  width: 78.5%;
  height: 50%;
  margin-left: -500px;;
  column-count: 4;
}

.newselection {
  display:none;
  position: absolute;
  background-color:white;
  margin-top: 35px;
  margin-left: 20px;
  z-index: 1;
}

.newselection a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.newselection a:hover {
  color: red;
}
.dropdown:hover .newselection {
  display: block;
  border: 1px solid #cecece;
  width: 78.5%;
  height: 50%;
  margin-left: -575px;;
  column-count: 4;
}
.saleselection {
  display:none;
  position: absolute;
  background-color:white;
  margin-top: 35px;
  margin-left: 20px;
  z-index: 1;
}

.saleselection a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.saleselection a:hover {
  color: red;
}
.dropdown:hover .saleselection {
  display: block;
  border: 1px solid #cecece;
  width: 78.5%;
  height: 50%;
  margin-left: -642px;;
  column-count: 4;
}


.shippingbag {
  margin-left: 33.3%;
  margin-top: 1.5%
}
.a1 {
  text-decoration:none;
  color: inherit; 
}

.box {
  display: none;
}

.box:after {
  content: " ";
  position: absolute;
  right: 20px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #cecece;
  /* display: block; */
}

.shippingbag:hover .box {
  width: 170px;
  height: 20px;
  border: 3px solid #cecece;
  background-color: white;
  color: black;
  padding: 10px;
  font-family: UniqloProBold,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #000;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
  margin-left: -130px;
  margin-top: 10px;
  display: block;  
} 
.dropdowns{
  width: 39.5%;
  height: 70%;
  margin-left: -180px;
  margin-top:85px;
  position: absolute;
  column-count: 4;
  border: 3px solid #cecece;

}
/* .itemlist {
  display:none;
  position: absolute;
  background-color:white;
  margin-top: 35px;
  margin-left: 20px;
  z-index: 1;
} */
/* .predict .dropdowns{
  position: absolute;
  color:black;
} */
.predict {
  border: 3px solid #cecece;
  width: 20%;
  height: 70%;
  margin-left: -520px;;
  margin-top:85px;
  position: absolute;
  text-align: left;

}
/* 
.notshow .dropdowns{
  display: none;
} */

.dropdowns .search_pro {
  display: inline-block;
  background-color: gray;

  position: absolute;

}